<div class="nav-bar-mobile visible" id="nav-bar-mobile">
    <div class="nav-buttons-wrap">
        <button class="nav-buttons btn1 hover-underline">
            <i class="bi bi-gem"></i>
            <span>Productos</span>
        </button>
        
        <button class="nav-buttons btn2 hover-underline">
            <i class="bi bi-gear gear-animation"></i>
            <span>Servicios</span>
        </button>
        <button class="nav-buttons btn3 hover-underline">
            <i class="bi bi-phone"></i>
            <span>Contactanos</span>
        </button>
        <button class="nav-buttons btn3 hover-underline">
            <i class="bi bi-hammer"></i>
            <span>Proyectos</span>
        </button>
    </div>
</div>

<script>
	const nav_bar_mobile: any = document.querySelector("#nav-bar-mobile");

	window.addEventListener("scroll", () => {
		
		const scrollHeight = document.documentElement.scrollHeight;
		const scrollPosition = window.innerHeight + window.scrollY;
    /*     console.log("Position: ",scrollPosition)
        console.log("Height: ",scrollHeight) */
		if (scrollPosition > 1200) {
			nav_bar_mobile.classList.add("visible");
		} else {
			nav_bar_mobile.classList.remove("visible");
		}
	});
</script>
