---
import ServiceContent from "./ServiceContent.astro";
import services from "./services.json";
---

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-light text-decoration-underline">
                    Nuestros Servicios
                </h1>
            </div>
        </div>

        <div class="col-12 mt-4 px-5">
            {
                services.map((service) => {
                    return (
                        <ServiceContent client:load
                            tittle={service.tittle}
                            image={service.image}
                            list={service.list}
                        />
                    );
                })
            }
        </div>
    </div>
</div>

<style>
    .services {
        min-height: 100vh;
        background-repeat: repeat-y;
        background-size: cover;
        color: var(--light-gray);
        text-align: center;
        padding: 60px 0px;
        background: linear-gradient(
                rgba(27, 26, 26, 0.938),
                rgba(20, 20, 21, 0.92)
            ),
            url("/public/marmol.webp");
    }
</style>
