<div class="container-fluid mh-100">
    <div class="row mh-100">
        <div class="col-12 bg-cocina-gradient p-5 text-center">
            <h1 class="white">
                VENTAJAS DE TRABAJAR CON <b class="yellow text-lg"
                    >SSR</b>
            </h1>
            <p class="light-gray">
                Proyectos desarrollados con calidad
            </p>
            <div class="container">
                <div class="row mt-5">
                    <div class="col-3 col-md-2 flex-center animated-div">
                        <div class="square">
                            <div class="inter-square">01</div>
                        </div>
                    </div>
                    <div class="col-9 col-md-10 text-p text-start">
                        Involucramos a nuestros clientes en toda las
                        fases de tomas de decisiones del proyecto para
                        brindar un servicio con la mejor calidad
                        posible.
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-3 col-md-2 flex-center animated-div">
                        <div class="square">
                            <div class="inter-square">02</div>
                        </div>
                    </div>
                    <div class="col-9 col-md-10 text-p text-start">
                        Trabajamos con los más altos estándares de
                        calidad, tanto en nuestros servicios como en los
                        productos y los materiales que ofrecemos.
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-3 col-md-2 flex-center animated-div">
                        <div class="square">
                            <div class="inter-square">03</div>
                        </div>
                    </div>
                    <div class="col-9 col-md-10 text-p text-start">
                        En SS Remodelaciones, la satisfacción de
                        nuestros clientes es nuestra máxima prioridad.
                        Por esta razón, respaldamos cada uno de nuestros
                        trabajos con una garantía integral. Nos
                        comprometemos a ofrecer no solo servicios de
                        alta calidad, sino también la tranquilidad y
                        confianza que nuestros clientes merecen."
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>