---
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout>
    <div class="container mb-5 m-h-100">
        <div class="row">
            <div class="col-12 mb-4">
                <h1 class="text-center mt-4">Contactanos</h1>
                <p class="text-center">
                    Ponemos a tu disposicion nuestros distitos metodos de
                    contacto, sientasa libre de escribirnos y resolveremos
                    cualquier duda que tenga.
                </p>
            </div>

            <div class="col-12 col-md-6 text-center">
                <h4>Siguenos en nuestras redes</h4>
                <div class="d-flex justify-content-center gap-4 mb-4">
                    <a target="_blank" href="https://www.instagram.com/ssremodelaciones/?hl=es">
                        <img class="icon" src="/instagram.png" alt="" />
                    </a>
                    <a target="_blank" href="https://www.facebook.com/ssremodelaciones">
                        <img class="icon" src="/facebook.png" alt="" />
                    </a>
                </div>
                <div>
                    <h4>Puedes llamarnos a los siguientes numeros</h4>
                    <div class="mb-2">
                        <span> 7006 8477 </span>

                        <a href="tel:+50670068477" class="btn btn-primary">
                            <i class="bi bi-phone"></i> Llamar al 7006 8477</a
                        >
                    </div>
                    <div>
                        <span> 6242 1680 </span>
                        <a href="tel:+50662421680" class="btn btn-primary">
                            <i class="bi bi-phone"></i> Llamar al 6242 1680</a
                        >
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 bg-gray-2 p-4">
                <h4>Envianos un whatsapp</h4>
                <textarea
                    id="mensaje"
                    placeholder="Escribe tu mensaje..."
                    class="form-control mb-2"
                    cols="30"
                    rows="4"></textarea>
                <div class="text-end">
                    <button id="enviarBtn" class="btn btn-success px-5">
                        <i class="bi bi-whatsapp"></i> Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
</AppLayout>

<style>
    .icon {
        width: 30px;
    }
    .bg-gray-2 {
        background-color: rgb(231, 231, 231);
    }
    .text-pink {
        color: rgb(226, 43, 198);
    }
    h4 {
        color: rgb(40, 40, 38);
    }
    .m-h-100 {
        min-height: 100vh;
    }
</style>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("enviarBtn").addEventListener("click", () => {
            const message = document.getElementById("mensaje").value;
            if (message.trim() !== "") {
                const phone = "50670068477";
                const url = `https://wa.me/${phone}?text=${encodeURIComponent(message)}`;
                window.open(url, "_blank");
            } else {
                alert("Por favor, escribe un mensaje antes de enviar.");
            }
        });
    });
</script>

<script src="../components/Main/Main.js"></script>
