---
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout>
	<div class="container">
		<div class="row text-center">
			<div class="col-12 py-4">
				<h1>Contactanos</h1>
				
			</div>
		</div>
	</div>
</AppLayout>

<script src="../components/Main/Main.js"></script>