---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer/Footer.astro"
import Services from "../components/Services/Services.astro";
import Ventajas from "../components/Ventajas/Ventajas.astro";
---

<Layout>
	<section id="sec1">
		<video autoplay muted loop id="background-video">
			<source src="/cuna.webm" type="video/mp4" />
		</video>
		<div class="content">
			<div class="text-center">
				<img height="110px" src="/logo.png" alt="" />

				<h1 class="anton mt-5">Bienvenido a SS REMODELACIONES</h1>

				<p class="mt-2">
					En SS Remodelaciones le ofrecemos una gran varierad de
					servicios y productos para su hogar u ofcina
				</p>

				<div class="mb-4">
					<div class="row mt-5">
						<div class="col-4">
							<div
								class="hover-underline btn-menu flex-colum-center slide-up"
								id="products"
							>
								<i class="bi bi-gem"></i>
								<span>Productos</span>
							</div>
						</div>

						<div class="col-4">
							<div
								class="hover-underline btn-menu flex-colum-center slide-up"
							>
								<i class="bi bi-gear gear-animation"></i>
								<span>Servicios</span>
							</div>
						</div>

						<div class="col-4">
							<div
								class="hover-underline btn-menu flex-colum-center slide-up"
							>
								<i class="bi bi-phone"></i>
								<span>Contactanos</span>
							</div>
						</div>
					</div>
				</div>
				<div class="chevron flex-center scroll-down">
					<div class="btn-chevron">
						<i class="bi bi-chevron-double-down rounded-btn"></i>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="sec2">
		<Services></Services>
	</section>
	
	<section id="sec3">
		<Ventajas></Ventajas>
	</section>

	<div class="nav-bar-mobile" id="nav-bar-mobile">
		<div class="nav-buttons-wrap">
			<button class="nav-buttons btn1 hover-underline">
				<i class="bi bi-gem"></i>
				<span>Productos</span>
			</button>
			<button class="nav-buttons btn2 hover-underline">
				<i class="bi bi-gear gear-animation"></i>
				<span>Servicios</span>
			</button>
			<button class="nav-buttons btn3 hover-underline">
				<i class="bi bi-phone"></i>
				<span>Contactanos</span>
			</button>
		</div>
	</div>

	<Footer ></Footer>
	<script src="../components/Main/Main.js"></script>
</Layout>
