---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer/Footer.astro";
import Services from "../components/Services/Services.astro";
import Ventajas from "../components/Ventajas/Ventajas.astro";
import Stoneflex from "../components/Stoneflex/Stoneflex.astro";
import MenuHome from "../components/NavBar/MenuHome.astro";
import NavBarMobile from "../components/NavBarMobile/NavBarMobile.astro";
---

<Layout>

	
	<NavBarMobile />
	<section id="sec1">
		<video autoplay muted loop id="background-video">
			<source src="/cuna.webm" type="video/mp4" />
		</video>
		<div class="content">
			<div class="text-center">
				<img height="110px" src="/logo.png" alt="" />
				<div class="w-welcome-text">
					<h1 class="welcome-text anton text-light bg-dark">
						Bienvenido a SS REMODELACIONES
					</h1>
				</div>

				<p class="mt-2">
					En SS Remodelaciones le ofrecemos una gran varierad de
					servicios y productos para su hogar u ofcina
				</p>

				<MenuHome />

				<div id="scroll-down-p" class="chevron flex-center scroll-down">
					<div class="btn-chevron">
						<i class="bi bi-chevron-double-down rounded-btn"></i>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="sec4">
		<Stoneflex />
	</section>

	<section id="sec2">
		<Services />
	</section>

	<section id="sec3">
		<Ventajas />
	</section>

	<Footer />
</Layout>

<script src="../components/Main/Main.js"></script>
