---
import SocialButton from "../SocialButton/SocialButton.astro";
---

<div class="bg-dark text-ligh pt-5">
    <div class="text-light container">
        <div class="row pb-4 pt-4">
            <div class="col-12 col-md-4 text-center">
                <h1 class="mb-4">Contacto</h1>
                <img src="/logo.png" alt="" />
                <div class="text-center mt-4">
                    <div>
                        <i class="bi bi-envelope"></i> gerencia@ssremodelaciones.com
                    </div>
                    <div>
                        <i class="bi bi-envelope"></i> proyectos@ssremodelaciones.com
                    </div>
                    <a href="tel:+50670068477" class="btn-llamadas"><i class="bi bi-phone"></i> +506 7006-8477</a>
                    <a href="tel:+50662421680" class="btn-llamadas"><i class="bi bi-phone"></i> +506 6242-1680</a>
                </div>
                <div class="socials">
                    <div>
                        <SocialButton icon="bi-facebook" href="https://www.facebook.com/ssremodelaciones"></SocialButton>
                    </div>
                    <div>
                        <SocialButton icon="bi-instagram" href="https://www.instagram.com/ssremodelaciones/?hl=es"></SocialButton>
                    </div>
                    <div>
                        <SocialButton icon="bi-whatsapp" href="https://api.whatsapp.com/send/?phone=50670068477&text&type=phone_number&app_absent=0"></SocialButton>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center">
                <h1 class="mb-4">Encuentranos</h1>
                <a
                    target="__blanc"
                    href="https://maps.app.goo.gl/QqUbk7yKPDcaF7bb6"
                    class="wrap-map p-1"
                >
                    <img width="100%" src="/map.webp" />
                </a>

                <div class="mb-4 mt-3 text-ligth">
                    Estamos ubicados en el Condominio Santa Verde Local V-101,
                    Costa Rica Heredia
                </div>

                <a
                    target="__blanc"
                    href="https://maps.app.goo.gl/QqUbk7yKPDcaF7bb6"
                    class="btn btn-primary"
                >
                    <i class="bi bi-pin-map"></i> Ver En Google Map
                </a>
            </div>
            <div class="col-12 col-md-4 text-center">
                <h1 class="">Enlaces de interes</h1>
                <div><a href="#" target="__blanc"> enlace 1 </a></div>
                <div><a href="#" target="__blanc"> enlace 2 </a></div>
                <div><a href="#" target="__blanc"> enlace 3 </a></div>
                <div><a href="#" target="__blanc"> enlace 4 </a></div>
            </div>
            <div class="col-12 text-center text-gray reserved">
                ©2018 todos los derechos reservados por SS REMODELACIONES
            </div>
        </div>
    </div>
</div>

<style>
    
  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .btn-llamadas{
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  

  .wrap-map {
    border: 3px solid rgba(255, 255, 255, 0.562);
    border-radius: 3px;
    display: block;
  }

  .wrap-map:hover {
    cursor: pointer;
    border: 3px solid white;
  }

  #footer {
    margin-bottom: 80px;
  }
</style>