---
import SocialButton from "../SocialButton/SocialButton.astro";
---

<div class="bg-gray text-ligh pt-5">
    <div class="text-light container">
        <div class="row pb-4 pt-4">
            <div class="col-4">
                <h1 class="mb-4">Contacto</h1>
                <img src="/logo.png" alt="" />
                <div class="text-start mt-4">
                    <div>
                        <i class="bi bi-envelope"></i> gerencia@ssremodelaciones.com
                    </div>
                    <div>
                        <i class="bi bi-envelope"></i> proyectos@ssremodelaciones.com
                    </div>
                    <div><i class="bi bi-phone"></i> +506 7006-8477</div>
                    <div><i class="bi bi-phone"></i> +506 6242-1680</div>
                </div>
                <div class="socials mt-4">
                    <div>
                        <SocialButton icon="bi-facebook" href="https://www.facebook.com/ssremodelaciones"></SocialButton>
                    </div>
                    <div>
                        <SocialButton icon="bi-instagram" href="https://www.instagram.com/ssremodelaciones/?hl=es"></SocialButton>
                    </div>
                    <div>
                        <SocialButton icon="bi-whatsapp" href="https://api.whatsapp.com/send/?phone=50670068477&text&type=phone_number&app_absent=0"></SocialButton>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center">
                <h1 class="mb-4">Encuentranos</h1>
                <a
                    target="__blanc"
                    href="https://maps.app.goo.gl/QqUbk7yKPDcaF7bb6"
                    class="wrap-map p-1"
                >
                    <img width="100%" src="/map.webp" />
                </a>

                <div class="mb-4 mt-3 text-ligth">
                    Estamos ubicados en el Condominio Santa Verde Local V-101,
                    Costa Rica Heredia
                </div>

                <a
                    target="__blanc"
                    href="https://maps.app.goo.gl/QqUbk7yKPDcaF7bb6"
                    class="btn btn-primary"
                >
                    <i class="bi bi-pin-map"></i> Ver En Google Map
                </a>
            </div>
            <div class="col-4 text-end">
                <h1 class="">Enlaces de interes</h1>
                <div><a href="#" target="__blanc"> enlace 1 </a></div>
                <div><a href="#" target="__blanc"> enlace 2 </a></div>
                <div><a href="#" target="__blanc"> enlace 3 </a></div>
                <div><a href="#" target="__blanc"> enlace 4 </a></div>
            </div>
            <div class="col-12 text-center text-gray reserved">
                ©2018 todos los derechos reservados por SS REMODELACIONES
            </div>
        </div>
    </div>
</div>
