---
import { ClientRouter } from "astro:transitions";
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icono.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>SS REMODELACIONES</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  body {
    margin: 0px;
    padding: 0px;
  }

  

  :root {
    --yellow: rgb(245, 185, 20);
    --gray: rgb(25, 24, 25);
    --gray-2: rgb(41, 40, 41);
    --gray-medium: rgb(81, 81, 81);
    --white: rgb(235, 235, 235);
    --light-gray: rgb(203, 190, 180);
    --light-blue: rgb(175, 189, 202);
  }

  #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  .content {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.543);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .mh-100 {
    min-height: 100vh;
  }

  .bg-gray {
    background-color: var(--gray);
  }

  .bg-gray-2 {
    background-color: var(--gray-2);
  }

  .bg-yellow {
    background-color: var(--yellow);
  }

  .anton {
    font-family: "Anton", sans-serif;
    font-weight: 400;
  }

  .white {
    color: var(--white);
  }

  .light-gray {
    color: var(--light-gray);
  }

  .yellow {
    color: var(--yellow);
  }

  .text-lg {
    font-size: 45px;
  }

  .square {
    background-color: var(--yellow);
    width: 100px;
    height: 100px;
    position: relative;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0) rotate(-3deg);
    }

    25% {
      transform: translateY(-3px) rotate(0deg);
    }

    50% {
      transform: translateY(-3px) rotate(0deg);
    }
  }

  .inter-square {
    position: absolute;
    color: var(--white);
    font-size: 100px;
    line-height: 90px;
    top: -10px;
    left: -20px;
    font-family: "Anton", sans-serif;
    animation: bounce 3s infinite ease-in-out;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }

  .text-p {
    font-size: 15px;
    color: var(--white);
  }

  .bg-cocina-gradient {
    background-size: cover;
    background-image: url(/fondo-gradiente.png);
    background-repeat: no-repeat;
  }

  .flex-colum-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn-menu {
    background-color: rgba(0, 255, 255, 0);
    user-select: none;
    text-decoration: none;
  }

  .btn-menu:hover {
    background-color: rgba(255, 249, 178, 0.171);
    cursor: pointer;
  }

  .btn-menu span {
    color: rgb(41, 41, 41);
    font-family: "Anton", sans-serif;
    font-size: 20px;
  }

  .btn-menu i {
    font-size: 40px;
  }

  .gear-animation {
    transition: transform 0.5s ease-in-out;
  }

  /*---------------------------*/

  .hover-underline {
    position: relative;
  }

  .hover-underline::after,
  .hover-underline::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #f9f50f, #f04224);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
  }

  .hover-underline::before {
    top: -5px;
    transform-origin: left;
  }

  .hover-underline:hover::after,
  .hover-underline:hover::before {
    transform: scaleX(1);
  }

  @keyframes chevrona {
    0%,
    100% {
      transform: translateY(0);
    }

    10% {
      transform: translateY(4px);
    }

    20% {
      transform: translateY(0px);
    }
  }

  .chevron {
    font-size: 25px;
    animation: chevrona 3s infinite ease-in-out;
  }

  .rounded-btn {
    line-height: 20px;
    margin-top: 3px;
  }

  .btn-chevron {
    background-color: rgba(255, 255, 255, 0.306);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-chevron:hover {
    background-color: aliceblue;
    cursor: pointer;
  }

  .slide-up {
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.5s ease-in-out forwards;
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animated-div {
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.5s ease-in-out,
      transform 0.5s ease-in-out;
  }

  .animated-div.visible {
    opacity: 1;
    transform: translateY(0);
  }

  #section1 {
    margin-top: 10px;
    border-top: 10px solid red;
    display: block;
  }

  .anton {
    font-family: "Anton", sans-serif;
  }

  .text-gray {
    color: var(--gray-medium);
  }

  .reserved {
    border-top: 1px solid var(--gray-medium);
    margin-top: 50px !important;
    padding-top: 30px;
  }

  .animated-hover {
    transition: 0.5s;
    color: var(--light-gray);
  }

  .animated-hover:hover {
    color: var(--yellow);
  }

  

  .text-services h2 {
    color: var(--light-gray);
    font-size: 28px;
  }

  .text-services p {
    color: var(--light-blue);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 300;
  }

  .img-services {
    border-radius: 10px;
  }

  .w-images {
    background-color: rgba(255, 255, 255, 0.258);
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
  }

  .w-images:hover {
    transform: scale(1.01);
    cursor: pointer;
    background-color: var(--white);
  }

  .stoneflex-tittle {
    font-size: 90px;
  }

  .w-welcome-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .welcome-text {
    border-radius: 3px;
    padding: 10px;
    background: linear-gradient(rgb(23, 23, 23),rgb(79, 79, 78));
  }

  @media (max-width: 450px) {
    
    .btn-menu i{
      font-size: 25px !important;
    }
    .btn-menu span{
      font-size: 15px;
    }
}

@media (max-width: 550px) {
    
    .inter-square{
      font-size: 80px;
    }

}

.flex-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
.m-h-100{
  min-height: 100vh;
}

</style>
